{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'aplicacion/css/inicio.css' %}">
<title>Extintores EL GENIO</title>
</head>
<body>

<div>

<h2><img src="{% static 'aplicacion/img/extintor.png' %}"/>{{info}}
<img src="{% static 'aplicacion/img/extintor.png' %}"/></h2>
    <p>----------------------------</p>
    <img src="{% static 'aplicacion/img/lock.png' %}"/>
<a href="../admin/aplicacion" target="_blank">Administrar</a>
</div>
</body>
</html>